{% load staticfiles %}
<head>

<title>Update Profile </title>
<link rel="stylesheet" type="text/css" href="{% static 'webinterface/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'webinterface/bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'webinterface/wikilinks_overwrite.css' %}" />

<script src="{% static 'webinterface/jquery-1.11.0.js' %}" type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
<script src="{% static 'djangular/js/django-angular.min.js' %}"></script>
<script src="{% static 'djangular/js/django-angular.js' %}"></script>



<script type="text/javascript">
var my_app = angular.module('myApp', []);
my_app.config(function($httpProvider) {
    $httpProvider.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest';
});
my_app.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{$');
    $interpolateProvider.endSymbol('$}');
});
my_app.controller('MyFormCtrl', function($scope, $http) {
    $scope.name='{{name}}' ;
    $scope.profession='{{profession}}';
    $scope.designation='{{designation}}';
    $scope.company='{{company}}';
    $scope.contact='{{contact}}';
    $scope.address='{{address}}';





 	$scope.signup=function(){
 		if($scope.email!="" && $scope.name!="" && $scope.contact!="" && $scope.profession!="" &&$scope.designation!="" && $scope.company!="" && $scope.address!="")
 		{




 			var user={
 				"name":$scope.name,
 				"ph_no":$scope.contact,
 				"profession":$scope.profession,
 				"designation":$scope.designation,
 				"company":$scope.company,
 				"address":$scope.address
 			};
 			$http({
            method: 'POST',
            url: '/webinterface/updateProfileData',
            data: user,
            }).success(function(data,status){
 				$scope.response=angular.fromJson(data);
 				if($scope.response.status==0)
 					{
 					alert("Your Profile Is Updated");
 					}
 				else if ($scope.response.status==1)
 				    {
 				    alert("Please Try After Some Time");
 				    }


 			}).error(function(){
 				alert("Please Try After Some Time");
 			});
 		}
 	};



});
</script>
    </head>
<div class="col-lg-4 col-md-offset-1 col-centered">
    <h1 >Update Profile</h1>
    <br>
</div>
<div ng-app="myApp" ng-controller="MyFormCtrl">
<div class="container">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Update Profile</div>
                <div style="float:right; font-size: 85%; position: relative; top:-10px; left:-5px;"><a id="signinlink" ng-click="clearall()"> Clear all</a></div>

            </div>
            <div class="panel-body" >
                <form id="signupform" class="form-horizontal" role="form" ng-submit="signup()">

                    <div id="signupalert" style="display:none" class="alert alert-danger">
                        <p>Error:</p>
                        <span></span>
                    </div>


                    <div class="form-group">
                        <label for="name" class="col-md-3 control-label">Name</label>
                        <div class="col-md-9">
                            <input required ng-model="name" type="text" class="form-control" name="name" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact" class="col-md-3 control-label">Profession</label>
                        <div class="col-md-9">
                            <input required ng-model="profession" type="text" class="form-control" name="profession" placeholder="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact" class="col-md-3 control-label">Designation</label>
                        <div class="col-md-9">
                            <input required ng-model="designation" type="text" class="form-control" name="designation" placeholder="Asst. Professor">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">
                        <label for="contact" class="col-md-3 control-label">Organisation</label></div>

                        <div class="col-md-9">
                            <input required ng-model="company" type="text" class="form-control" name="contact" placeholder="IIT GN">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="contact" class="col-md-3 control-label">Contact No.</label>
                        <div class="col-md-9">
                            <input required ng-model="contact" type="text" class="form-control" name="contact" placeholder="Phone Number(without +91)">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="contact" class="col-md-3 control-label">Address</label>
                        <div class="col-md-9">
                            <input required ng-model="address" type="text" class="form-control" name="contact" placeholder="">
                        </div>
                    </div>




                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-md-offset-3 col-md-9">
                            <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Update</button>
                        </div>
                    </div>

                    <div class="col-md-12" class="form-group">
                        <div class="alert alert-success" role="alert" ng-if="status.signupstatus==1">
                            <span class="glyphicon glyphicon-ok"></span> {$ status.msg $}</div>
                            <div class="alert alert-danger" role="alert"  ng-if="status.signupstatus==2 || status.signupstatus==3  " > <span class="glyphicon glyphicon-remove"></span>  {{status.msg}}</div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
